@page
@model Opencare.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.Birthdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Birthdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParentName)
        </dt>
        <dd>
            <a asp-page="/Users/Details" asp-route-id="@Model.Student.Parent.UserName">@Html.DisplayFor(model => model.ParentName)</a>
        </dd>
    </dl>
</div>
@if (Model.Student.Status != EnrollmentStatus.Enrolled)
{
    @if ((await AuthorizationService.AuthorizeAsync(
User, Model.Student, StudentOperations.Approve)).Succeeded)
    {
        <form style="display:inline;" method="post">
            <input type="hidden" name="id" value="@Model.Student.StudentId" />
            <input type="hidden" name="status" value="@EnrollmentStatus.Enrolled" />
            <button type="submit" class="btn btn-xs btn-success">Approve</button>
        </form>
    }
}

@if (Model.Student.Status != EnrollmentStatus.NotEnrolled)
{
    @if ((await AuthorizationService.AuthorizeAsync(
User, Model.Student, StudentOperations.Reject)).Succeeded)
    {
        <form style="display:inline;" method="post">
            <input type="hidden" name="id" value="@Model.Student.StudentId" />
            <input type="hidden" name="status" value="@EnrollmentStatus.NotEnrolled" />
            <button type="submit" class="btn btn-xs btn-success">Reject</button>
        </form>
    }
}

<div>
    @if ((await AuthorizationService.AuthorizeAsync(
User, Model.Student,
StudentOperations.Update)).Succeeded)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Student.StudentId">Edit</a>
        <text> | </text>
    }
    <a asp-page="./Index">Back to List</a>
</div>


<div id="Documents">

    <h4>Documents</h4>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#documentModal">
        Add Document
    </button>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.StudentDocs)
            {
                <tr>
                    <td>
                        <a asp-page="./Details" asp-page-handler="Download" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.DocumentType.Name)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UploadDT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UploadUser.UserName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="signIns">
    <h4>Sign-in Log</h4>

    <table class="table">
        <thead>
            <tr>
                <th></th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Student.SignIns.Where(s => s.Time.Day == DateTime.Today.Day).OrderByDescending(s => s.Time))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @(item.IsSignedIn ? "In" : "Out")
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-page="/SignIns/Index" asp-route-id="@Model.Student.StudentId">more...</a>
</div>

<div id="diapers">
    <h4>Diapers</h4>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#diaperModal">
        New Diaper Change
    </button>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Diapers[0].Time)</th>
                <th>@Html.DisplayNameFor(m => m.Diapers[0].Wet)</th>
                <th>@Html.DisplayNameFor(m => m.Diapers[0].Dirty)</th>
                <th>@Html.DisplayNameFor(m => m.Diapers[0].Note)</th>
                <th>@Html.DisplayNameFor(m => m.Diapers[0].Changer)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Diapers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Wet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dirty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Changer.UserName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-page="/Diapers/Index" asp-route-id="@Model.Student.StudentId">more...</a>
</div>

<div id="bottles">
    <h4>Bottles</h4>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bottleModal">
        New Bottle
    </button>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Bottles[0].Time)</th>
                <th>@Html.DisplayNameFor(m => m.Bottles[0].Type)</th>
                <th>@Html.DisplayNameFor(m => m.Bottles[0].Ounces)</th>
                <th>@Html.DisplayNameFor(m => m.Bottles[0].Note)</th>
                <th>@Html.DisplayNameFor(m => m.Bottles[0].Teacher)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Bottles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ounces)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Teacher.UserName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-page="/Bottles/Index" asp-route-id="@Model.Student.StudentId">more...</a>
</div>


<!-- Diaper Modal -->
<div class="modal fade" id="diaperModal" tabindex="-1" role="dialog" aria-labelledby="diaperModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="diaperdocumentModalLabel">Add Diaper Change</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="id" value="@Model.Student.StudentId" />
                    <div class="form-group">
                        <label asp-for="Diaper.Time" class="control-label"></label>
                        <input asp-for="Diaper.Time" class="form-control" />
                        <span asp-validation-for="Diaper.Time" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Diaper.Wet" class="control-label"></label>
                        <input asp-for="Diaper.Wet" class="form-control" />
                        <span asp-validation-for="Diaper.Wet" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Diaper.Dirty" class="control-label"></label>
                        <input asp-for="Diaper.Dirty" class="form-control" />
                        <span asp-validation-for="Diaper.Dirty" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Diaper.Note" class="control-label"></label>
                        <input asp-for="Diaper.Note" class="form-control" />
                        <span asp-validation-for="Diaper.Note" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <div class="form-group">
                        <input type="submit" value="Add Diaper Change" asp-page-handler="NewDiaper" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Document Modal -->
<div class="modal fade" id="documentModal" tabindex="-1" role="dialog" aria-labelledby="documentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="documentModalLabel">Add Document</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="id" value="@Model.Student.StudentId" />
                    <div class="form-group">
                        <label asp-for="StudentDocument.DocumentTypeId" class="control-label"></label>
                        <select asp-for="StudentDocument.DocumentTypeId" asp-items="@(new SelectList(Model.DocumentTypes, "Id", "Name"))"></select>
                        <span asp-validation-for="StudentDocument.DocumentTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StudentDocument.Document" class="control-label"></label>
                        <input asp-for="StudentDocument.Document" type="file" class="form-control" />
                        <span asp-validation-for="StudentDocument.Document" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <div class="form-group">
                        <input type="submit" value="Add Document" asp-page-handler="NewDoc" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Bottle Modal -->
<div class="modal fade" id="bottleModal" tabindex="-1" role="dialog" aria-labelledby="bottleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="bottleModalLabel">Add Bottle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="id" value="@Model.Student.StudentId" />
                    <div class="form-group">
                        <label asp-for="Bottle.Time" class="control-label"></label>
                        <input asp-for="Bottle.Time" class="form-control" />
                        <span asp-validation-for="Bottle.Time" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Bottle.Type" class="control-label"></label>
                        <select asp-for="Bottle.Type" asp-items="@(new SelectList(Model.BottleTypes, "Value", "Text"))">
                            <option value="Other">Other</option>
                        </select>
                        <span asp-validation-for="Bottle.Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Bottle.OtherType" class="control-label"></label>
                        <input asp-for="Bottle.OtherType" class="form-control" />
                        <span asp-validation-for="Bottle.OtherType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Bottle.Ounces" class="control-label"></label>
                        <input asp-for="Bottle.Ounces" class="form-control" />
                        <span asp-validation-for="Bottle.Ounces" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Bottle.Note" class="control-label"></label>
                        <input asp-for="Bottle.Note" class="form-control" />
                        <span asp-validation-for="Bottle.Note" class="text-danger"></span>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <div class="form-group">
                        <input type="submit" value="Add Bottle" asp-page-handler="NewBottle" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>