@page
@model Opencare.Pages.PINSignIn.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h4>Parents</h4>

<form asp-controller="Users" asp-action="Index" method="get">
    <div class="col-sm-9">
        <div class="row">
            <div class="pull-right">
                <button type="submit" name="submit" value="Search" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
            </div>
            <div class="pull-right">
                @Html.Editor("search", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Parents[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Parents[0].LastName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Parents)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        <a asp-page="./Welcome" asp-route-id="@item.Id">Sign-In</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>